/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;
    color: inherit;
  }
  /******************************************
  /* BASE STYLES
  /*******************************************/
  html {
    font-size: .625rem;
    letter-spacing: 5%;
    color:#000;
  }
  body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    background-color: #FDFDFD;
  }
  h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 2.2rem;
    line-height: 1.4;
    text-align: center;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.4;
    display: inline-block;
    padding: 3% 0 0 0;
  }
  .drk-bkg {
    padding-top: 4%;
  }
  p {
    padding: 2% 0 3% 0;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
  .hero, .claims, .divider, .cosmetic {
    padding: 5%;
  }
  .hero {
    background: url('../img/heroimagesm.jpg') no-repeat center/cover;
  }
  .nav-header, footer {
    padding: 5%;
  }
  .nav-header, .hero, footer {
    background-color: #000;
    color: #FDFDFD;
  }
  .hero-content {
    background: rgba(0,0,0,0.5);
  }
  .nav-header {
    height: 6rem;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logoimg {
    max-width: 70%;
  }
  .slogan {
    font-size: 1.6rem;
    font-weight: lighter;
    text-align: center;
  }
  .hamburguer {
    font-size: 2.2rem;
    align-items: center;
  }
  .social-links {
    font-size: 2rem;
  }
  .claims, .cosmetic {
    background-color: #cacaca;
    padding-top: 2%;
  }
  .main-CTA {
    display: flex;
    align-content: center;
    background-color: #b22037;
    min-width: 16.5rem;
    min-height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: #FDFDFD;
    margin: 3% auto 3% auto;
  }
  .CTA-Float {
    position: fixed;
    bottom: -100;
    right: 5%;
    transition: bottom 0.3s ease;
  }
  .nav-header, .logo, .menu, .nav-footer, .social-media, .foot-menu-items ul {
    display: flex;
    justify-content: space-between;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 35%;
    padding: 1rem;
    gap: 2rem;
    border-radius: 0 0 5px 5px;
    background-color: rgba(178, 32, 55, 0.85);
    border: .5px solid #DCDB29;
    position: fixed;
    top: -300px;
    right: 5%;
    transition: top 0.3s ease;
  }
  .showMenu {
    top: 4rem;
  }
  .close-icon {
    flex-basis: 0;
    display: none;
  }

  .nav-footer {
    align-items: center;
  }
  .foot-menu-items {
    max-width: 70%;
    font-size: 1rem;
  }
  .foot-menu-items ul{
    gap: 3rem;
  }
  .foot-menu-social {
    width: 30%;
    justify-items: baseline;
  }
  .card-service {
    border: 3px solid #DCDB29;
    border-radius: 3rem 0 3rem 0;
    box-shadow: inset 0 0 0 3px #b22037;
    padding: 1.5rem;
  }
  .card-service img {
    width: 100%;
  }
  .service {
    padding-bottom: 1.5rem;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  .services {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3% 0 3% 0;
  }
  .copyright {
    padding: 0;
    font-size: 0.67rem;
    font-weight: lighter;
  }
